<% if (page.comments){ %>
    <script src="https://cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
    
    <div style="border-top:solid 1px #eee;margin:50px 0 20px 0"></div>
    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: 'HhGPvmKsmvQWdPw9TGBXmuJY-gzGzoHsz',
            appKey: 'eX7j5UFx32hvvQHsSqtQGpG8',
            placeholder: '输入留言'
        })
    </script>
<% } %>



