/* 复用index.css的内容，并修改 */
a{
  text-decoration: none;
  color:coral;
}

body{
  background: #f3f3f3;
}

.topBox{
  background: coral;
  width:100%;
  height: 60px;
  line-height: 60px;
  color:#fff;
  text-align: center;
  font-size:18px;
}
.topBoxCon{
  width:1000px;
  height: 60px;
  position: relative;
  margin: 0 auto;
}
.topBoxCon a{
  color:#fff;
}
.logo{
  height: 60px;
}
.conBox{
  width:1000px;
  margin:0 auto;
}
.titleBar{
  font-size: 25px;
  color: #999;
}

.gameBox{
  width:100%;
  height:300px;
  background: #fff;
  padding:20px;
  box-sizing: border-box;
}
.gameBoxL{
  float: left;
  width:500px;
  height:100%;
}
.gamePic{
  width:500px;
  height:100%;
  /* border:solid 1px #aaa; */
}
.gameBoxR{
  float: right;
  width:435px;
  height:100%;
  position: relative;
  border-left:solid 1px #ddd;
  padding-left:45px;
  box-sizing: border-box;
}
.gameNameBar{
  font-size: 26px;
  color:#999;
}  
.tag{
  height:16px;
  line-height: 16px;
  vertical-align: middle;
  font-size: 12px;
  display: inline-block;
  color:#fff;
  padding: 0px 5px;
  position: relative;
  bottom: -2px;
}

.gameInfo{
  height: 120px;
  font-size: 14px;
  color:#999;
  margin-top: 20px;
  overflow: hidden;
}
.gameInfo_H5{
  display: none;
}
.play{
  height:50px;
  line-height: 50px;
  width: 200px;
  background: coral;
  color:#fff;
  font-size: 20px;
  text-align: center;
  position: absolute;
  bottom:0px;
  right: 0px;
}
.noPlay{
  display: none;
}

.footBox{
  background: #ccc;

  border-top: solid 4px coral;
  font-size: 16px;
  text-align: center;
  padding: 20px;
}



/* 本页个性化css */
.flashBox{
  width: 1000px;
  margin: 0 auto;
  background: #000;
  margin-top:20px;
  /*圆角*/
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 45px;
  -o-border-radius: 35px;
  border-radius: 35px;
}

.home{
  position: absolute;
  left: 5px;
  top:0px;
}