/* 大于1000 */
@media only screen and (min-width: 1000px) {

  a{
    text-decoration: none;
    color:coral;
  }

  body{
    background: #f3f3f3;
  }

  .topBox{
    background: coral;
    width:100%;
    height: 60px;
    line-height: 60px;
    color:#fff;
    text-align: center;
    font-size:18px;
  }
  .logo{
    height: 60px;
  }
  .conBox{
    width:1000px;
    margin:0 auto;
  }
  .titleBar{
    font-size: 25px;
    color: #999;
  }

  .gameBox{
    width:100%;
    height:300px;
    background: #fff;
    padding:20px;
    box-sizing: border-box;
  }
  .gameBoxL{
    float: left;
    width:500px;
    height:100%;
  }
  .gamePic{
    width:500px;
    height:100%;
    /* border:solid 1px #aaa; */
  }
  .gameBoxR{
    float: right;
    width:435px;
    height:100%;
    position: relative;
    border-left:solid 1px #ddd;
    padding-left:45px;
    box-sizing: border-box;
  }
  .gameNameBar{
    font-size: 26px;
    color:#999;
  }  
  .tag{
    height:16px;
    line-height: 16px;
    vertical-align: middle;
    font-size: 12px;
    display: inline-block;
    color:#fff;
    padding: 0px 5px;
    position: relative;
    bottom: -2px;
  }

  .gameInfo{
    height: 120px;
    font-size: 14px;
    color:#999;
    margin-top: 20px;
    overflow: hidden;
  }
  .gameInfo_H5{
    display: none;
  }
  .play{
    height:50px;
    line-height: 50px;
    width: 200px;
    background: coral;
    color:#fff;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom:0px;
    right: 0px;
  }
  .noPlay{
    display: none;
  }

  .footBox{
    background: #ccc;
    margin-top: 100px;
    border-top: solid 4px coral;
    font-size: 16px;
    text-align: center;
    padding: 20px;
  }
}

/* 小于1000 */
@media only screen and (max-width: 1000px) {

  a{
    text-decoration: none;
    color:coral;
  }

  body{
    background: #333;
  }

  .topBox{
    background: coral;
    width:100%;
    height: 60px;
    line-height: 60px;
    color:#fff;
    text-align: center;
    font-size:18px;
  }
  .logo{
    height: 60px;
  }
  .conBox{
    width:100%;
    margin:0 auto;
  }
  .titleBar{
    font-size: 20px;
    color: coral;
    margin-left: 5%;
  }

  .gameBox{
    width:90%;
    margin:0 auto;
    margin-bottom: 20px;
    background:#fff;
    padding:20px;
    box-sizing: border-box;
    border-top: solid 4px coral;
  }
  .gameBoxL{
    width:100%;
  }
  .gamePic{
    width:100%;
    /* border:solid 1px #aaa; */
  }
  .gameBoxR{
    box-sizing: border-box;
  }
  .gameNameBar{
    margin-top: 15px;
    font-size: 26px;
    color:#999;
  }  
  .tag{
    height:16px;
    line-height: 16px;
    vertical-align: middle;
    font-size: 12px;
    color:#fff;
    padding: 0px 5px;
    position: relative;
    bottom: -2px;
  }

  .gameInfo{
    display: none;
  }
  .gameInfo_H5{
    font-size: 14px;
    color:#999;
    margin-top: 10px;
  }
  .play{
    height:50px;
    line-height: 50px;
    width: 200px;
    background: coral;
    color:#fff;
    font-size: 20px;
    text-align: center;
    margin:0 auto;
    margin-top:20px;
  }
  .play.hideInH5{
    display: none;
  }
  .noPlay{
    height:50px;
    line-height: 50px;
    width: 200px;
    background: #ccc;
    color:#fff;
    font-size: 20px;
    text-align: center;
    margin:0 auto;
    margin-top:20px;
  }

  .footBox{
    color:#888;
    background: #555;
    margin-top: 100px;
    font-size: 16px;
    text-align: center;
    padding: 20px;
  }
}